language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - php -S localhost:8000 -t fixtures/ &> /dev/null &
  - composer self-update
  - composer install --prefer-source

script: phpunit
